@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --delos-surface: #FDFDFD;
  --delos-black: #000000;
  --delos-amber: #E17100;
  --delos-grey: #7d7d7e;
  --delos-indigo: #4F39F6;
  --delos-red: #FF3B30;

  --delos-border: rgba(0, 0, 0, 0.08);
  --delos-subtext: rgba(0, 0, 0, 0.45);
}

.dark {
  --delos-surface: #050505;
  --delos-black: #FDFDFD;
  --delos-amber: #D97706;
  --delos-grey: #404040;
  --delos-indigo: #6366F1;
  --delos-red: #FF3B30;

  --delos-border: rgba(255, 255, 255, 0.08);
  --delos-subtext: rgba(255, 255, 255, 0.45);
}

/* Scrollbar Delos Style */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--delos-grey);
  border-radius: 10px;
}

button {
  cursor: pointer;
}